<section class="about">
  <header class="page_header">video playlist by alimi</header>
  <section class="page_content">
    <p>watch playlists of the top trending songs in the states.  playlists are updated weekly.<br>
	works best on larger displays and modern browsers like firefox,
		chrome, or safari.</p>
    enjoy the show.
  </section>
</section>
