<section class="about">
  <header>video playlist by alimi</header>
    video playlist creates playlists of the top trending songs in the us.  playlists are updated weekly.
    <br/>enjoy the show.
</section>
