<object width="853" height="510">
  <param name="movie" value="http://www.youtube.com/p/<%= @playlist.youtube_id %>?version=3&autohide=1&hl=en_US&fs=1"></param>
  <param name="allowFullScreen" value="true"></param>
  <param name="allowscriptaccess" value="always"></param>
  <embed src="http://www.youtube.com/p/<%= @playlist.youtube_id %>?version=3&autohide=1&hl=en_US&fs=1" type="application/x-shockwave-flash" 
   width="853" height="510" allowscriptaccess="always" allowfullscreen="true"></embed>
</object>

<section class = "playlist_links">
  <ul>
	<li class="filler">
    <li>
      play <span class="playing"><%= @playlist.name %></span> or play
    </li>
    <li>
      <% @playlists.each do |playlist| %>
        <%# link_to playlist.name, root_path, :playlist_id => playlist.id %>
        <%= link_to playlist.name, :controller => "pages",
                                   :action => "home",
                                   :playlist_id => playlist.id %>
      <% end %>
    </li>
  </ul>
</section>